* {
  padding: 0;
  margin: 0;
}

body {
  font-family: Arial, Tahoma, Serif;
  color: black;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  background: #cfd8dc;
}

nav ul {
  display: flex;
  list-style: none;
}

nav li {
  padding-left: 1rem;
}

#centerPage {
  margin-top: 10%;
  margin-left: 20%;
  margin-right: 20%;


}

#product {
  background: #cfd8dc;
  margin-bottom: 2%;

}
a {
  color: #0060B6;
  text-decoration: none;
}

#formDiv{
  margin-left: 10%;
}