/* Används för Alla sidor */


* {
  padding: 0;
  margin: 0;
}


body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

  color: black;
}

.imageHeader {
  width: 100%;

}

a {
  color: #0060B6;
  text-decoration: none;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  background: #cfd8dc;
}

nav ul {
  display: flex;
  list-style: none;
}

nav li {
  padding-left: 1rem;
}



/* Slut på alla sidor */


/* Används för details.html */

#Detailsproduct {
  background: #cfd8dc;
  margin-bottom: 5%;
  display: grid;
  grid-template-areas:
    "image-container text-container side"
    "image-container text-container side";
  padding: 0.5%;
}

.image-container {
  grid-area: image-container;
  margin-right: 20px;
}

.text-container {
  grid-area: text-container;
}

.side {
  grid-area: side;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

#carDescription {
  white-space: pre-line;
}


/* Används för index.html */


#centerPage {
  text-align: center;
  padding-left: 20%;
  padding-right: 20%;
}

#product {
  background: #cfd8dc;
  text-align: center;
  margin: 1%;
}

/* Används för att sortera produkterna i sidled sedan neråt */

.serv ul {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;

}

.serv ul li {
  list-style: none;
  flex: 0 0 20.333333%;
}
.serv {
  align-content: center;

}

/* Slut för index.html */


/* Används för createNewAccount.html */

#formDiv {
  padding: 5%;
  background: #cfd8dc;
  margin-bottom: 2%;
}





/* Används för för telefonvy */

@media (max-width: 1200px) {
  #centerPage {
    margin: 0 auto;
    text-align: center;
  }

  #Detailsproduct {
    background: #cfd8dc;
    margin-bottom: 5%;
    display: grid;
    grid-template-areas:
      "image-container image-container image-container"
      "text-container text-container side";
  }

  .image-container {
    grid-area: image-container;
    margin-right: 0px;
  }
  .serv {
    flex-direction: column;
  }

}