<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
       <form action="@{/createNewAccount}" method="post">
        <label>Förnamn:</label>
        <input type ="text" placeholder="Namn" th:field="*{firstName}">
        <input type="" id="" name="" th:value="">
        
        <label>Efternamn:</label>
        <input type ="text" placeholder="Efternamn" th:field="*{surname}">
        
        <label>Email:</label>
        <input type ="text" placeholder="Email" th:field="*{email}">

        <label>Användarnamn:</label>
        <input type ="text" placeholder="Användarnamn" th:field="*{username}">
       
        <label>Lösenord:</label>
        <input type ="text" placeholder="Lösenord" th:field="*{password}">
        
        
    
        <button type="submit">Skapa användare</button>
        
        
    </form> -->


</body>
</html>