<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
       <form th:action="@{/newUser}" method="post">
        <label>Förnamn:</label>
        <input type ="text" placeholder="Namn" th:name="firstName">
        
        
        <label>Efternamn:</label>
        <input type ="text" placeholder="Efternamn" th:name="surname">
        
        <label>Email:</label>
        <input type ="text" placeholder="Email" th:name="email">

        <label>Användarnamn:</label>
        <input type ="text" placeholder="Användarnamn" th:name="username">
       
        <label>Lösenord:</label>
        <input type ="text" placeholder="Lösenord" th:name="password">
        
        
    
        <button type="submit">Skapa användare</button>
        
        
    </form> 


</body>
</html>