<!DOCTYPE html>
<html lang="sv">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <link rel="stylesheet" href="style.css">
  
  <!-- <link rel="stylesheet" th:href="@{/style.css}"> -->

  <title>Details</title>
</head>

<body>

  <header style="margin: 2%;">
    <h1 style="text-align: center;">Startsida</h1>
  </header>


  <nav>
    <h2><a href="/">Startsida</a></h2>
    <ul>
      <li>Logga in</a></li>
      <li><a href="/createNewAccount">Skapa konto</a></li>
      <!-- Denna ska inte synas om man inte är inloggad-->
      <li>Mina odrar</a></li>
    </ul>
  </nav>


  <div>
    <img th:src="@{/image.png}" class="imageHeader">
  </div>


  <div id="centerPage">
    <h2><span th:object="${product}"> <span th:each="product : ${id}" th:text="*{name}"></span><br>
      </span></h2>


    <!-- FUNKAR!!! JOBBA HÄRIFRÅN -->
    <form th:object="${product}" id="Detailsproduct">


        <div class="image-container">
          <span th:each="product : ${id}"></span>
          <img th:src="${product.picture}" alt="Bildbeskrivning" style="width: 500px; height: 500px;">
        </div>

        <div class="text-container">
          <h3>Om denna bil</h3>

          <span th:each="product : ${id}" th:utext="*{description}" id="carDescription"></span><br>


          <!-- Gör onsynlig om man ej är inloggad-->
        </div>
        <div class="side">
          <h3><span th:each="product : ${id}" th:text="'bilens pris: ' + *{price}"></span></h3>
          <button type="submit" style="float: right;">Lägg i kundvagn</button>

        </div>

    </form>




  </div>

</body>

</html>