<!DOCTYPE html>
<html lang="en" xmlns="https://www.thymeleaf.org/">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" th:href="@{/style.css}">

  <title>Startsida</title>
</head>

<body>

  <header style="margin: 2%;">
    <h1 style="text-align: center;" >Startsida</h1>
  </header>


  <nav>
    <h2><a href="/">Startsida</a></h2>
    <ul>
      <li>Logga in</a></li>
      <li><a href="/createNewAccount">Skapa konto</a></li>
      <!-- Denna ska inte synas om man inte är inloggad-->
      <li>Mina odrar</a></li>
    </ul>
  </nav>


  <div>
    <img th:src="@{/image.png}" class="imageHeader">
  </div>


  <!-- Här ska produkter placeras ut-->
  <div id="centerPage">
    <h2 style="margin-bottom: 5%;">Våra Bilar </h2>

    <div class="serv">

      <ul>
        <li id="product" th:each=" product : ${products}">
          <span th:text="${product.name}"></span><br>
          <a th:href="@{/details/{product}(product=${product.id})}">
            <img th:src="${product.picture}" alt="Bildbeskrivning" style="width: 200px; height: 200px;"></a>

        </li>
      </ul>

    </div>


  </div>

</body>

</html>