<!DOCTYPE html>
<html lang="en" xmlns="https://www.thymeleaf.org/">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" th:href="@{/style.css}">

  <title>Startsida</title>
</head>

<body>

  <header>
    <h1 style="text-align: center;">Startsida</h1>
  </header>
  <nav>
    <h2>Startsida</h2>
    <ul>
      <li>Logga in</a></li>
      <li><a href="/createNewAccount">Skapa konto</a></li>
      <!-- Denna ska inte synas om man inte är inloggad-->
      <li>Mina odrar</a></li>
    </ul>
  </nav>

  <!-- Här ska produkter placeras ut-->
  <div id="centerPage">

    <ul>  
      <h2>Produkter</h2>
      <li id="product" th:each=" product : ${products}">
        <span th:text="${product.name}"></span><br>
        <span th:text="${product.description}"></span><br>
        <span th:text="${product.price}"></span> kr<br>
        <img th:src="${product.picture}" alt="Bildbeskrivning" style="width: 200px;">
      </li>
    </ul>


  </div>

</body>

</html>