<!DOCTYPE html>
<html lang="en" xmlns="https://www.thymeleaf.org/">


<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script defer> </script>
  <link rel="stylesheet" th:href="@{/style.css}">

  <title>Mina odrar</title>
</head>

<body>

  <header style="margin: 2%;">
    <h1 style="text-align: center;">Mina odrar</h1>
  </header>


  <nav>
    <h2><a href="/">Hem</a></h2>
    <ul>
      <li sec:authorize="isAuthenticated()"><a href="/logout">Logout</a></li>
      <li sec:authorize="isAnonymous()"><a href="/login">Login</a>
      </li>      <li><a href="/createNewAccount">Skapa konto</a></li>


      <!-- Denna ska inte synas om man inte är inloggad-->
      <li sec:authorize="isAuthenticated()"><a href="/orders">Mina odrar</a></li>
    </ul>
  </nav>


  <div>
    <img th:src="@{/image.png}" class="imageHeader">
  </div>


  <!-- Här ska produkter placeras ut-->
  <div id="centerPage">

<h1>Du har beställt</h1>
<h4>pontiac trans am 1977</h4>
    <img src="https://media.tenor.com/NpV8qd0OJTcAAAAM/pontiac-firebird-trans-am.gif" style="height: 300px; height: 300px;"><br>
    Förväntat leveranstid: 2030

  </div>

</body>

</html>